* {
    box-sizing: border-box;
    color: aliceblue;
 }
.ab{
   display: flex;
   padding: 15px;
   margin-right: 15px;
}
.name{
   color: aqua;
}
 h1 {
  font-style: oblique;
  font-size: 60px;
    text-align: center;

 }
 h2 {
   padding: 10px;
   margin-right: 10px;
 }
img{
   height: 250px;
   width: 250px;
}